*{
  margin:0;
  padding:0;
  box-sizing: border-box;
}

html, body, #root{
  height: 100%;
  width:100%;
  overflow: hidden;
}

body{
  background-image: url('/bg.jpg');
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-color: #1a1a1a;
}

::-webkit-scrollbar{
  width: 6px;
}

::-webkit-scrollbar-thumb{
  background: rgba(255,255,255,0.3);
  border-radius: 3px;
}