*{
  margin:0;
  padding:0;
  box-sizing: border-box;
}

html, body, #root{
  min-height: 100%;
  width:100%;
}

body{
  background-image: url('/bg.jpg');
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-color: #1a1a1a;
  overflow-y: scroll;
  scrollbar-width: none;
}

body::-webkit-scrollbar{
  display: none;
}